include CHANGELOG.md
include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include asciidoxy *.mako

recursive-include docs *.adoc *.jpg *.png *.gif
