pip==20.1.1
wheel==0.34.2
watchdog==0.10.2
flake8==3.8.1
tox==3.15.1
coverage==5.1
twine==3.1.1
mypy==0.770
pytest==5.4.2
pytest-runner==5.2
pytest-sugar==0.9.3
pytest-aiohttp==0.3.0
yapf==0.30.0
doxypypy==0.8.8.6
