pip==19.3.1
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.9
tox==3.14.3
coverage==5.0.3
twine==3.1.1
mypy==0.761
pytest==5.3.2
pytest-runner==5.2
pytest-sugar==0.9.2
pytest-aiohttp==0.3.0
yapf==0.29.0
doxypypy==0.8.8.6
